<h2 translate>{{'CleanTitle' | translate: device}}</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th translate>CleanAmount</th>
            <th translate>CleanDate</th>
            <th translate>CleanType</th>
            <th translate>CleanFac</th>
            <th></th>
        </thead>
        <tr class="table-info" *ngFor="let c of deviceCleanings">
            <td>{{c.amount}}</td>
            <td>{{c.date}}</td>
            <td>{{c.rubbishType}}</td>
            <td>{{c.factory.factoryId}}</td>
        </tr>
    </table>
    
</div>