<h2 translate>{{ 'DeviceTitle' | translate:user }}</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th translate>TableDevice</th>
            <th translate>TableRange</th>
            <th translate>TableWeight</th>
            <th translate>TableVolume</th>
            <th></th>
        </thead>
        <tr class="table-info" *ngFor="let m of userDevices">
            <td>{{m.deviceId}}</td>
            <td>{{m.actionRange}}</td>
            <td>{{m.maxWeight}}</td>
            <td>{{m.maxVolume}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(m)" translate>Delete</button>
                <button class="btn btn-primary" (click)="cleanings(m)" translate>SeeAll</button>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-info" (click)="redirect()" translate>DeviceAdd</button>
    </div>
    <agm-map [latitude] = "point.y" [longitude]  = "point.x" [zoom]="zoom">
        <agm-marker [latitude]="point.y" [longitude]= "point.x"></agm-marker>
    </agm-map>
</div>